[2016-09-30 03:36] AnD010 opened #1 "Problem show data if my router (raspberry) not connected to Internet"
Hi!
I try to use your proyect with a raspberry, my raspberry don´t have internet conexion. Then connect my iphone to wifi network raspberry , run your project and don´t have any response...
If connect my raspberry to internet or connect my iphone to my router with internet, your project work very well.
With ring app , I can see my iphone mac but my raspberry don´t have internet ...
I change AF_INE

[2016-11-07 10:36] mavris commented on #1
Hi,
I am working on V2 of MMLanScan and I will try to fix it.
I will release it soon. You can tried yourself the beta V2 on the "development" branch and let me know if you can reproduce the error.

[2016-11-16 14:30] minhthuc251 opened #2 "How to detect device type (As printer)"
I need to detect printer connected in network . Can i do it with your library ?
It will be perfect with me with this fuction.I really need it

[2016-11-16 15:21] mavris commented on #2
That would be nice addition. We can do it but we need a database of MAC Addresses and the kind of devices. For example in order to find the Brand of a specific device we had a dictionary that holds MAC Addresses and Brands. We need the database for the kind of the device. I did some search but with no luck. If you find any kind of data that we could use let me know

[2016-11-18 01:46] minhthuc251 commented on #2
Thanks for your help. I will contact you if i find somethingelse

[2016-11-18 01:46] #2 closed

[2016-11-29 12:15] akaDuality opened #3 "iOS 10.3 and MAC-address"
Is seems that iOS 10.2 has damaged something and MAC-resolving isn't working. Every IP has MAC like "02:00:00:00:00:00"

Do you have any idea how to fix it?

[2016-11-29 12:53] mavris commented on #3
Hi, I didn't install the 10.2 beta yet. I will do a research and check how we should retrieve mac addresses on 10.2. I let you know

[2016-12-02 14:34] ndenlinger commented on #3
Apple has removed the ability to ready MAC Addresses from iOS completely. Even if the MAC Address could be pulled, you'll see what was defined above as "02:00:00:00:00:00". Apple replaced this functionality with a UUID on a per app basis, and a UUID for Advertiser Identifying. The only way I know of pulling a MAC Address is through an API Call from a Mobile Device Management Solution that has a ti

[2016-12-02 15:23] mavris commented on #3
I am wondering how big apps (eg. Fing) will overcome this issue.

[2016-12-02 15:28] ndenlinger commented on #3
I agree. I know a lot of them have just dropped the feature all together, or opted to use a UUID which is given upon when a particular app is installed. Apple removed access to the MAC Address for privacy concerns as the MAC Address is a hardware specific ID. Even to access the SSID, SignalStrength and BSSID of a device's WiFi was difficult and quite the battle with Apple. I know in my network dia

[2016-12-02 15:40] mavris commented on #3
@akaDuality  Can you test Fing any other network scanner on 10.2 and let us the outcome?

[2016-12-02 15:43] akaDuality commented on #3
Fing has update that fix it for iOS 10.2 and works very well on it. They sad that they use some "secret" technology

[2016-12-02 15:56] mavris commented on #3
Can you open a[ bug report](https://bugreport.apple.com/) at Apple with your findings? Last time I opened for MMLanScan and "ping" functionality in a background thread they were quite helpful and gave me tips that solved the issue.

[2016-12-02 16:13] akaDuality commented on #3
I've opened radar with ID 29481116. Waiting for reply from Apple

[2016-12-02 16:16] mavris commented on #3
Guys, do you use MacFinder for network scanner?

[2016-12-02 16:17] akaDuality commented on #3
Is it from the gitHub? Yes, it doesn't work too

[2016-12-02 16:24] mavris commented on #3
Sorry, I thought that this case was opened on MacFinder repo :) My bad. Yes, I am talking about MMLanScan.

[2016-12-11 12:16] leonfu commented on #3
@mavris @akaDuality do you ever think about trying some other way such as taking some tricks from https://github.com/samdmarshall/SDMMobileDevice

[2016-12-12 06:39] akaDuality commented on #3
@leonfu Is it about iOS-to-iOS communication, right?

[2016-12-12 07:40] leonfu commented on #3
it's for mac-to-iOS with usbmuxd, so far no luck. @akaDuality
Btw, I tried some ways like ARP request and raw socket packets, no progress

[2016-12-12 21:45] monobono commented on #3
The app "Network Analyzer" shows MAC Addresses under iOS 10.2 as well.

[2016-12-12 23:34] mavris commented on #3
If we could somehow get a tip how to implement it.. I have free time this week so I will look for alternatives

[2016-12-12 23:45] mavris commented on #3
@leonfu Can you share your findings?

[2016-12-13 05:41] leonfu commented on #3
@mavris  I list what i have done
1. try raw socket failed with permission denied
2. try snmp call to gateway for routing table failed with nothing related return
3. try UDP socket failed with no link layer mac info in data callback

[2016-12-13 07:31] leonfu commented on #3
By using some sniffer tool to monitor "Fing" and "Network Analyzer Lite" apps, I found that both of them try to visit **uPnP** services located on the surrounding servers within the same WiFi network.

[2016-12-13 07:51] mavris commented on #3
Is there any other open source library for UPNP discovery?

[2016-12-13 08:12] sxyclint commented on #3
@leonfu I don't think it works successfully on iOS 10.2  because of uPnP. If you stop uPnP service, app works well too.  It is possible that Apple cleared ARP cache or rewrited ARP result. I guess maybe they have found some methods to bypass and fetch result from the APR table.

[2016-12-15 06:49] leonfu commented on #3
"iNet Network Scanner" also make it work with 10.2 now

[2016-12-15 07:29] mavris commented on #3
How they manage to retrieve the MAC Address? What we miss here? I will try to test few apps and check what's going on. Hopefully, we will get a hint.

[2016-12-15 07:34] leonfu commented on #3
it seems in 10.2, those apps can get the arp response some way when communicating with new ip (never pinged before no matter whether the IP can be reached or not)

[2016-12-15 08:24] mavris commented on #3
I am using iOS Console to monitor the apps. I noticed that querying MAC Address with MacFinder lib produces this log which is the same as Fing(but not for Net Analyzer).
[code]
Maybe they didn't remove the old code or the modified the existing somehow

[2016-12-15 08:36] leonfu commented on #3
Yes, they keep the code for iOS 10.2- . After trying "iNet Network Scanner", I believe for 10.2+ it's not for sure that the mac address can be obtained for every time.
https://itunes.apple.com/cn/app/inet-network-scanner/id340793353?l=en&mt=8

[2016-12-15 15:21] ndenlinger commented on #3
So I visited iNet's website, two days ago (13th of December) they posted that the MAC Address feature doesn't work in 10.2. However, I'm on 10.2.1 Beta 1 and the MAC Address feature is still working. Maybe if the app gets updated, the codebase that they use for the MAC Address gets nullified? I sent them an email on how they achieved obtaining the IP Address to see if I or we can provide support t

[2016-12-15 15:38] mavris commented on #3
@ndenlinger Why we need to know how they get the IP? I mean we can do that already. As @leonfu  said they manage to get the MAC Address on 10.2. Let us know if they come back with tips

[2016-12-15 15:45] ndenlinger commented on #3
Right, they do get the MAC Address on 10.2 and even 10.2.1 Beta, but my only question to them is; if they update their app...will that functionality break on 10.2+? iNet posted an update indicating that they are working hard to resolve that issue. So maybe they are developing the next feature, and discovered that in development that specific feature broke. Here's the link to their blog..

Actually

[2016-12-15 16:55] ecumedesjours commented on #3
I've also tried many of the same things as leonfu.  I wonder if it's nothing more than a special entitlement or a plist entry like "NSAppTransportSecurity"?

[2016-12-15 18:57] Manuel83 opened #4 "Question regarding Hostnames"
I'm using MMLanScan for my app but for some reason I don't get all hostnames.
If I use apps like "fing" I get different names. Any hint why I get different results?

![image](https://cloud.githubusercontent.com/assets/5859486/21237722/6b375e58-c300-11e6-8cba-cba134f285c8.png)

[2016-12-15 19:14] ecumedesjours commented on #4
they have some code to clean up DNS entries and make them more standardized.  also, they are obtaining additional information from bonjour, snmp and other services and using that to augment the host names.

[2016-12-15 22:22] mavris commented on #4
About the formatting, you can change it to be more readable. By the way let me know the name of your app so I will include it in Readme

[2016-12-15 22:39] Manuel83 commented on #4
First of all thanks for the great project and thanks for you quick response. How do a change the name? Do I have to implement my own formatter logic? For me it would be ok to trigger another request for each IP to get the hostname.

The app I'm building will be called "CraftBeerPi" like the open source home brewing controller project I founded 1,5 years ago.  The App will be used to scan the netwo

[2016-12-16 06:55] mavris commented on #4
Let me know the URL when you finish. About the formatting: Just format the NSString you get from hostnameLabel. You could use [device.hostnameLabel uppercaseString] or [hostname componentsSeparatedByString:@"."] which returns an NSArray of NSStrings separated by ".". Now if you get the first object of the NSArrya is the hostname without the "domain". About getting more data like Fing you will have

[2016-12-16 18:02] ecumedesjours commented on #3
another possibility is to figure out at what point in the process the real mac addresses are being substituted for the bogus ones.  For instance, the sysctl() call to get the arp table probably already passes the manipulated data.  In that case, it should suffice to not use Apple's sysctl call but build one's own?

https://opensource.apple.com/source/system_cmds/system_cmds-175.2/sysctl.tproj/

[2016-12-17 10:09] sohaib770 opened #5 "Mac Addresses are not getting in iOS 10.2"
I am running this on my iPhone with OS version 10.2 and getting the follow mac address. And for all ip addresses it is same.
Found hostname: iphone
2016-12-17 15:00:33.188 Kisafa[387:102597] found  192.168.1.9
2016-12-17 15:00:33.196 Kisafa[387:102597] mac  02:00:00:00:00:00
2016-12-17 15:00:33.196 Kisafa[387:102597] device original mac = 02:00:00:00:00:00
2016-12-17 15:00:33.197 Kisafa[387:102597

[2016-12-17 13:33] mavris commented on #5
Hi, thanks for your feedback. This is a known issue and we are working on it. Take a look here: https://github.com/mavris/MMLanScan/issues/3

[2016-12-17 13:33] #5 closed

[2016-12-17 13:33] #4 closed

[2016-12-21 06:13] sreedeeppaul commented on #3
I have seen an Android implementation where they read from the file directly where the arp table is created in "/proc/net/arp".
They directly read the table data from this file location.Can anyone suggest if we can find anything similar for iOS?

[2016-12-22 11:37] mickeyl commented on #3
It looks like more than just Fing can read the MAC addresses (e.g. Net Analyzer). I wonder whether it might be the compilation against the latest SDK that enables that sandbox mode? Perhaps Fing and the other apps have been built against an older SDK hence get some kind of compatibility mode?

[2016-12-22 15:53] arivas87 commented on #3
I'm afraid SDK version is not the problem because I have seen apps compiled with older SDK working wrong.

[2016-12-23 03:24] kasimok commented on #3
Hey guys, I found all this 'sysctl' way to get the mac address still works on the simulator. Any clue on this? What is the difference of simulator and real device?

[2016-12-23 07:01] mavris commented on #3
It's a simulator and not emulator. So it's probably using macOS 'sysctl'.

[2016-12-28 13:31] gluttony commented on #3
I figured out how does Fing work on iOS 10.2. I do not think it's a good idea to open source the codes. There are too many guys abused ip2mac to trace people's privacy and that caused Apple blocked it.

[2016-12-29 07:33] sushilmishraios commented on #3
@mavris  Hi Mavris, how to get mac address in iOS 10.2.? have you any idea please suggest.

[2017-01-01 11:13] mavris commented on #3
@sushilmishraios Hi, unfortunately, we didn't manage to find a workaround yet. If anyone has a tip where to look it would be nice.

[2017-01-03 00:11] ecumedesjours commented on #3
hmm - what about changing certain vars in sysctl before calling it, for example turning on verbose mode (e.g. net.link.ether.inet.verbose)?

[2017-01-04 03:46] mochasoft commented on #3
I have an observation:

If I ping all devices in the subnet from my iPhone, and read (sysctl(..PF_ROUTE..) the mac list  is empty (worked before the iOS was updated). If I wait maybe 10 minutes on this hotel wifi, some Mac addresses show up in the list. It could indicate PF_ROUTE not just simple replace all elements with 0x2:00:....

[2017-01-06 07:16] AeolusLau commented on #3
I got this problem too. Is there any clue now?

[2017-01-06 07:43] mavris commented on #3
This is the official answer from Apple: "We hide MAC addresses from apps for privacy reasons.  No application should be able to get MAC addresses for any purpose.". So I think no matter what solution we find they will hide the MAC Address on the next update.

[2017-01-06 09:32] rorymckinnel commented on #3
The dialogue I have had with apple states the following:
It is by design, and motivated by privacy concerns <rdar://problem/28755242>.
Given that this was a deliberate change to impose a specific restriction for privacy reasons, any attempt to get around that restriction is likely to fail in the long term <rdar://problem/29683195>.

Annoyingly we can not see the content of these rdr problems as it

[2017-01-06 17:48] ecumedesjours commented on #3
Agreed, entitlements are definitely the way to go.  That way Apple's team can vet the use scenario before issuing the entitlement.

[2017-01-06 19:29] mavris commented on #3
That's exactly what I was thinking. Entitlements. And if we are not allowed to get MAC Addresses why Fing & others are not rejected from App Store?

[2017-01-06 20:15] ecumedesjours commented on #3
Following a TSI (Technical Support Incident) session, here is more clarification from Apple:

"There are no alternative methods supported by Apple, nor there are any special permissions or entitlements you can acquire in order to access MAC address information via the ARP table any more.  I cannot comment on other developers’ apps, or how they may have gotten around these restrictions, but given t

[2017-01-08 22:31] jpalten opened #6 "SimplePing behaving funny"
I find that pinging a whole subnet will not report about 20% of the devices that should be there. Bigger numbers if the max concurrency count is higher.
When I do some logging inside [SimplePing readData], I see that all kinds of instances of Simple ping are receiving data from other pings. Somehow the SocketReadCallback gets called multiple times when data comes in. This might be related to this

[2017-01-09 16:34] ndenlinger commented on #3
That's pretty upsetting. There are definitely some legitimate use cases. I can understand from their privacy, but at the same time there are use use cases in which the MAC Address would be needed. I fully support the idea of entitlements idea granted by Apple just like the network extension framework. I needed to build an enterprise application used for diagnosing an internal environment meant to

[2017-01-09 16:37] ecumedesjours commented on #3
There are a growing number of folks with the temporary workaround.  Knowledge wants to be free, so eventually the solution will be shared :)

[2017-01-09 16:49] ndenlinger commented on #3
Agreed.

My only concern is if this information is indeed made free and available to the general public community of developers, Apple will take note and debug/reverse engineer these new found methods. How would we share these solutions that could help prevent unwanted effects of making these sort of things public knowledge?

[2017-01-09 17:00] ecumedesjours commented on #3
Valid concern - but I feel it is inevitable.  Hopefully by the time Apple gets around to patching this latest workaround, they will also be ready to offer a legit means of accessing the arp table via entitlements, as many have been suggesting.  In fact, I think posting the solution might actually _accelerate_ the process of legitimization...

[2017-01-09 17:51] ndenlinger commented on #3
I can agree that in offering a solution to this sort of request could in fact accelerate that process.

[2017-01-09 22:00] ecumedesjours commented on #3
a bit more follow-up from Apple today, where the tech acknowledged an ongoing discussion about the issue:

"It is safe to assume that this has been discussed, and there is always room for further discussion. But the case is, security trumps convenience ... Your best bet would be to file an Enhancement Request (https://bugreports.apple.com) on this, to add to the discussion, and to let the decision

[2017-01-09 22:22] ndenlinger commented on #3
I submitted a report (Bug Report Number: 29935293) with explaining my necessary use case scenario that would require me to use the MAC Address. I hope that other developers follow suit so that we can help to our cause.

[2017-01-10 09:24] wadecong commented on #3
I disassembled an App which can get mac address. Then I found it using some function like this:
[code]
rewrite in c is:
[code]
but I'm not familiar with socket functions, maybe some of you guys can have a try.

[2017-01-11 05:38] mochasoft commented on #3
Here is my solution,  it is only test code, not something, I would use direct in a product .But I am sure Apple will block it in the next release.

`    for (int a=0;a<255;a++) {
        NSString * myhost = [NSString stringWithFormat:@"192.168.1.%d",a];
        [self jan_mac_addr_test:[myhost UTF8String]];

    }`
`
-(void) jan_mac_addr_test:(const char*) host
{
#define BUFLEN   (sizeof(struct rt_

[2017-01-11 09:32] lizimu commented on #3
@mochasoft  IT works  thanks a lot . And Learn a lot from U.

[2017-01-11 13:15] HungChun commented on #3
@mochasoft Cool, thanks a lot!

[2017-01-11 13:43] ndenlinger commented on #3
I just tested your sample code there @mochasoft, the output that I receive is all 00's. That even includes the first octet of the MAC Address. Is your code sample supposed to be for looping through the subnet as a scanner? What about the device that is scanning that network?

[2017-01-11 15:00] iDevo commented on #3
@mochasoft You are my hero! Thank you very much for sharing!

[2017-01-11 16:30] mochasoft commented on #3
ndenlinger, if the iOS arp table is empty, you get zero values. You could select first in your code to ping the IP address, as to get the iOS to do the arp protocol,  before "reading" a mac address using my code example.

[2017-01-11 18:06] ndenlinger commented on #3
Spot on @mochasoft. That worked beautifully. I suppose that in the future Apple will find out about these exploits and close them. But we'll see.

[2017-01-17 02:32] luoshihui commented on #3
@mochasoft  I think the sample code should add `close(sockfd);` in the end of the function.

[2017-01-17 04:17] mochasoft commented on #3
luoshihui, it is just an example, where the goal is to make it easy to read.  In a real world application, there should also be checks for different return values for the function calls.

[2017-01-24 23:42] NSGangster commented on #3
@mochasoft Are you sure this works for iOS? I tried something similar before but I was not able to use SOCK_RAW when creating the socket.

[2017-01-25 00:11] NSGangster commented on #3
Nvm. I was using the AF_INET protocol instead of AF_ROUTE. Tried your code and works great! Thank you for this solution. Even if it's only temporary. I had attempted to read the link layer off of the callback on the icmp packet but no luck. So luckily I already had that part in place :) Cheers.

[2017-01-26 15:50] mavris commented on #6
Thanks for your feedback. I noticed that too and it's weird since they are executed on different threads. I will have a look into it as I have some free time. In the mean time please post here any findings

[2017-01-26 15:53] mavris commented on #3
@mochasoft  thank you very much for your solution. Also, I would like  to thanks anyone here for your contribution and feedback. I will update the project as soon as I have some free time. Pull request are welcome :)

[2017-01-26 16:01] ndenlinger commented on #3
Yes thank you everyone!

Has anyone recompiled this solution with Xcode 8.3 Beta and iOS 10.3 Beta Yet? I'm waiting on my IT Security Team to say it's okay to upgrade OS X to macOS Sierra so as of right now I'm unable to install 8.3.

[2017-01-26 20:51] mavris commented on #3
@mochasoft  @luoshihui  Guys I have updated [MacFinder](https://github.com/mavris/MacFinder/blob/master/MacFinder.m) repo which is used by MMLanScan and I will update MMLanScan soon. Please check if we can optimize it a little bit since I am not fully aware what's the code is doing. Let me know or send me a pull request.

[2017-01-27 09:09] mochasoft commented on #3
ndenlinger; I see no problems with iOS 10.3 beta.

[2017-02-05 10:27] ikaroweb opened #7 "Unable to install"
I've added the line: pod 'MMLanScan' but when i try to install i've this error:

[!] Unable to find a specification for `MMLanScan`

How can i fix ?

Thanks

[2017-02-05 10:35] ikaroweb commented on #7
Solved, i don't why but with pod update the first time doesn't work, with the second works.

[2017-02-05 10:35] #7 closed

[2017-02-09 15:37] yongjing opened #9 "CocoaPods inegration: brand name is not showed"
hello @mavris great job for CocoaPods support. I tested the pod, it doesn't work to get the brand name, I think it's because the data.plist file is not included. I creat a Pull Request for this, may fix this little bug.

[2017-02-10 08:07] mavris commented on #9
Hi @yongjing . You were right. I fixed the issue. Sorry for not accepting your pull request but I had to change the variable name (you used spec. instead of s.) and I did change the version of PodSpec. Please free to send pull request if you add any new features.

[2017-02-10 08:07] #9 closed

[2017-02-10 08:49] yongjing commented on #9
@mavris Yes, my bad for `s`. Nice job! the pod is works now!

[2017-02-15 10:25] thibaultfloquet opened #10 "SimplePing.h not found"
Hello, I have an issue when I try to build my project.
The SimplePing.h is not found. Any ideas?

My deployment target is iOS 9.3

Thanks

![capture d ecran 2017-02-15 a 11 22 51](https://cloud.githubusercontent.com/assets/2004156/22970128/46d7f54e-f371-11e6-8c3d-7a0c1b8a2022.png)

[2017-02-15 10:50] mavris commented on #10
Hi,
Did you tried one of the demos, install it manually or with Cocoapods?

[2017-02-20 15:31] mavris commented on #10
I am closing this issue.

[2017-02-20 15:31] #10 closed

[2017-02-23 07:40] DemianSteelstone opened #11 "Not working in IPv6 networks"
Hi,
App become irresponsible and then crashes when I try to use scanner in IPv6 network

[code]
looks like 169.254.xxx.xxx

[code]
return an array of 65534 IPs
from  169.254.1.1 to 169.254.255.255

It will be great if you can fix this =)

If you don't know how to test in ipv6 network look [here](http://www.brianjcoleman.com/tutorial-how-to-test-your-app-for-ipv6-compatibility/)

Regards

[2017-02-23 08:01] DemianSteelstone commented on #11
Also, maybe this will help

[code]
[code]

https://hirooka.pro/?p=6169

[2017-02-24 22:52] adib commented on #3
How to get the ethernet address from an IPv6 address?

[2017-02-25 10:31] mavris commented on #11
Hi,
MMLanScan doesn't support IPV6. It's entirely different concept and that's why you get an IP 169.* It cant get it's subnet and its assumes that is /1, that's why is crashing. I should add a case to not scan IPv6 networks. If you implement it feel free to send me a pull request

[2017-03-01 09:49] lizimu commented on #3
@mochasoft Hi I am pretty sure this block of code doesn't work in iOS 10.3 beta 3.I have try lots of methods still no luck .Do you have any idea ? Thank U agin

[2017-03-03 07:43] arivas87 commented on #3
It is true, this solution are not working with iOS 10.3 betas. Also I have noticed that Fing does not show MAC address with this version...

[2017-03-03 12:13] ndenlinger commented on #3
You might be right @arivas87. This was originally working in a project that I had successfully implemented this method and it's no longer showing the MAC Address. Apple's too quick to patch a function like this.

[2017-03-03 22:31] adib commented on #3
Would [directly sending ARP packets](http://stackoverflow.com/questions/16710040/arp-request-and-reply-using-c-socket-programming) work on iOS 10.3?

[2017-03-09 04:16] Andresmtz89 commented on #3
Had anyone tested the Code and got the Mac Address on an actual Iphone 6/7 with 10.2.1 OS?

We used Mavris code and include it on a test app, we run it on an ipad with ios 10.2.1 and it worked.

![image](https://cloud.githubusercontent.com/assets/26292524/23735679/b8c8b9cc-044c-11e7-9d0b-73eef0311409.png)

When installed and run on iphone, something is crashing the app, has anyone experienced this

[2017-03-09 07:36] mavris commented on #3
@Andresmtz89  Put  a breakpoint here:
[code]

[2017-03-10 20:03] Andresmtz89 commented on #3
Many Thanks @mavris

It is working across multiple ios devices!

[2017-03-10 20:39] gregpardo commented on #3
Heres what I'm using based off the above..

[code]

[2017-03-13 07:32] arivas87 commented on #3
This code does not works on 10.3 iOS version...

[2017-03-13 13:07] mochasoft commented on #3
I have tested my code (mocha ping) and mmlanscandemo with iOS 10.3 beta 5 (14E5296a, mar 8 2017) on an iPad (compiled with 8.3 beta 4 (8w143q) and I can read the mac address with both Apps. Only difference I see is: the IP address for my iPad cannot be listed, it has mac address  02:00...

[2017-03-13 13:33] mavris commented on #3
@mochasoft  That makes sense! It seems that Apple will restrict the device's MAC address but they will allow as to use ARP Table for other devices. It's not perfect solution but it's something.

[2017-03-24 18:40] blganesh101 commented on #3
Seems strange but after you run the app several times, the mac address is no more retrieved.
Is anyone facing this issue?

[2017-03-24 23:48] mavris commented on #3
Which iOS? 10.3?

[2017-03-25 07:03] blganesh101 commented on #3
It's 10.2.1

[2017-03-25 08:44] mavris commented on #3
I am on 10.2.1 too and I never experienced that issue. I tried it today and seems fine. Can you debug the MacFinder and post your findings? We might be able to reproduce it

[2017-03-25 08:59] blganesh101 commented on #3
I see same behavior on iPhone and iPad. I did debug a little and looked like this is happening after I ran my version of the code which used ipv6 addresses. Now even if I run original code from macfinder it never returns  mac

[2017-03-27 08:23] #11 closed

[2017-03-28 07:02] ChoiSeungchan opened #12 "How to getHostName in swift?"
I tried get hostname in this code

func lanScanDidFindNewDevice(device: Device!) {
//        print("This is Device : "+"\(device)")
        //Adding the found device in the array
        if(device.brand.containsString("Apple")){
        print("DeviceInfo : "+"\(device.macAddressLabel())"+"\(device.hostname)\n")
        }
        self.connectedDevices?.append(device)
    }

but hostName is "nil"

I

[2017-03-29 13:26] ibolat38 opened #13 "Why I can't see hostname ?"
cell.ipLabel.text = device.ipAddress
        cell.macAddressLabel.text = device.macAddress
        cell.hostnameLabel.text = device.hostname
        cell.brandLabel.text = device.brand

In this code there is a hostname section but application doesn't show any value about hostname.

[2017-04-07 01:32] leonfu commented on #3
Fing is updated to say compatible with iOS 10.3. Anyone tried?

[2017-04-07 06:14] mavris commented on #3
Yes.
Everything seems fine except when you query for device's MAC Address. Then you will get the 02:00...

[2017-04-07 13:26] adib commented on #3
However the same technique seems to work on tvOS 10.2 (which is about the same generation of updates with iOS 10.3) – able to see other devices’ MAC addresses.

[2017-04-07 14:15] gregpardo commented on #3
I'm able to get other devices mac address in 10.3.2 but not the device the code is running on.

[2017-04-19 00:33] Andresmtz89 commented on #3
Hello, Has anyone been able to make it work on IOS 10.3?

[2017-04-25 11:39] Darshanptl7500 commented on #3
We are using this library and we are able to get mac address in 10.2 and 10.3.2.
Will the app will be rejected if we are going to upload the app on the appstore?
Is anyone using the library in apps on appstore ?

Please let us know
Thanks

[2017-04-25 20:40] gregpardo commented on #3
I have had an app accepted recently. It did require IPv6 support but that was a small tweak. You should be fine.

[2017-04-27 07:30] lizimu commented on #3
@gregpardo Yes,You can  get other device mac address no matter which version it is. First of all, the one you want to get mac address must in your arp table. That's trick. Now I can only ping all of the device in private network region.

[2017-05-05 09:10] NeverAgain11 commented on #12
I also met this question, Did you solved it?

[2017-05-05 14:38] mavris commented on #12
Hi,
The getHostname function was not built by me. I noticed also that in some networks (eg. a network with Active Directory) shows the hostnames and in others is not showing. I think it has something to do with the type of DNS. If you find a more solid getHostname function please let me know or send me a pull request.

[2017-05-05 14:38] #12 closed

[2017-05-05 14:39] mavris commented on #13
Hi,
See this issue: https://github.com/mavris/MMLanScan/issues/12

[2017-05-23 07:39] iremkorkmaz opened #14 "10.3.2 Mac Address Problem"
I can see my device's mac address from another device but when I try to get my device's mac address from the same device what I get is only 02:00:00:00:00:00. How can I fix that?

[2017-05-23 07:59] mavris commented on #14
This issue with iOS 10.3. It's Apple's shot to stop the cat & mouse game between them and the developers. They won't let you retrieve your own mac address for privacy but they will let you retrieve others.

[2017-05-23 08:00] #14 closed

[2017-05-29 06:42] SelvaBalasubramanian opened #20 "not showing in simulator !!"
It shows "no wifi available "in simulatorWhat to do?

[2017-05-29 07:23] mavris commented on #20
This is not a bug. The function that retrieves the SSID names it's not working on simulator. Try it on device

[2017-05-29 07:23] #20 closed

[2017-05-29 09:13] SelvaBalasubramanian commented on #20
I don't have i phone now....is there any other way to run it on simulator??

[2017-05-29 09:16] mavris commented on #20
you can scan the network anyway in simulator. just press the refresh button

[2017-05-29 09:31] SelvaBalasubramanian commented on #20
I tried but it shows a popup "Failed to scan "

[2017-05-29 09:40] jpalten commented on #20
Strange, that would happen if the app can't find its ip address. Are you on a network at all? IPv4?

[2017-05-29 09:50] SelvaBalasubramanian commented on #20
my mac is connected to a wifi network.....and i can even browse in safari in my simulator:(
yet its not scanning...

[2017-05-29 13:44] SelvaBalasubramanian commented on #20
@mavris Thanks for ur support this MMLanScanner is very useful.

[2017-05-29 14:09] mavris commented on #20
you are welcome dude

[2017-05-29 19:39] jpalten commented on #12
Perhaps using MDNS or NBNS requests... I'll look into that.

[2017-06-01 10:33] SelvaBalasubramanian commented on #20
hii,
I have a doubt  i need check whether a entity is present in Core data?if it
is not create a new entity programatically.
how can i check it?

On Mon, May 29, 2017 at 7:39 PM, Michael Mavris <notifications@github.com>
wrote:

[2017-06-02 08:24] iremkorkmaz commented on #3
@Darshanptl7500 & @gregpardo , have you had it running in 10.3.2? because @Darshanptl7500 told that it works on 10.3.2. If you had it working how? Please help :)

[2017-06-02 09:06] mavris commented on #3
@iremkorkmaz  It's working for every other device except yours (It cant' retrieve MAC address from arp table for your device). Other than that the scanning is fine

[2017-06-02 09:14] iremkorkmaz commented on #3
ah ok, I thought it was working also for the running device for them. We had an application that relies on Mac Address, it now worths nothing... :(

[2017-06-02 11:23] jpalten commented on #3
Can you tell us more? How/why did it rely on MacAddress? When they blocked the device macaddress, Apple provided other ways to do a lot of things, depending on your purpose.

[2017-06-05 10:27] iremkorkmaz commented on #3
@jpalten , it was a wi-fi analytic platform supported with an app. so app side is nothing now :)

[2017-06-07 11:08] mavris commented on #3
Why don't you ask the user to enter his mac address manually? He will do that once (Settings-General-About-Wifi Address)

[2017-06-16 23:31] CodeNinja710 opened #23 "No longer getting MAC address on iOS 11"
Using iOS 11.0 beta 1, the current code returns a spoofed mac address. 02:00:00:00:00:00

[2017-06-22 21:40] mavris commented on #23
MAC Address of your device or every other device? eg. When you scan the network you can see other devices MAC Addresses but not yours?

[2017-06-26 14:37] CodeNinja710 commented on #23
All devices show spoofed MAC's. Some devices still show hostname but, not all. Running same code in 10.3 shows all the appropriate info.
![macaddressspoofed11 0](https://user-images.githubusercontent.com/29494320/27544528-46ca465a-5a42-11e7-9ead-4bfd8f27d64e.png)

[2017-07-10 19:29] bexp opened #24 "MMLanScan fails to work in Class A network subnet"
Hi MMLanScan fails to work in Class A network.

my IP/Subnet = 10.231.154.136/255.254.0.0

ipcalc shows 131070 possible hosts in given subnet

[code]

where is NetworkCalculator.getAllHostsForIP calculates this amount to be ~2 million

![screen shot 2017-07-10 at 12 27 07 pm](https://user-images.githubusercontent.com/1211865/28035916-27111c88-656b-11e7-906c-3e77418149a0.png)

As a result array of

[2017-07-10 19:44] jpalten commented on #24
I'll look into that right away.

[2017-07-10 19:54] jpalten commented on #24
Confirmed to not be correct. Working on a fix.

[2017-07-10 19:57] jpalten commented on #24
Unit tests work fine. Will create a pull request for the unit tests though.
`
class NetworkCalculatorTests: XCTestCase {

    func testSubnetSize_classC() {

        let ips = NetworkCalculator.getAllHosts(forIP: "192.168.0.1", andSubnet: "255.255.255.0")
        XCTAssertEqual(ips?.count, 254)
    }

    func testSubnetSize_classB() {

        let ips = NetworkCalculator.getAllHosts(forIP: "192.1

[2017-07-10 20:02] jpalten commented on #24
@bexp you are using netmask 255.224.0.0, which is 10.231.154.136/11 which has 2097150 addresses. But you refer to ipcalc with netmask 255.254.0.0 which is 10.231.154.136/15 which has 131070 addresses.
So both ipcalc and your code are correct, but using different netmasks.

[2017-07-10 21:06] bexp commented on #24
any idea why the app hangs ? it's handing in your swift example too

[2017-07-10 22:20] mavris commented on #24
I guess 2millions * 2 (ping and mac retrieve) operations are too much to handle. When I was building the framework I was thinking about /24,/23,/22 minimum. I think I will setup some similar network and I will try to optimize it.

[2017-07-10 22:26] bexp commented on #24
I'm on xfinity wifi network (very popular if not the largest internet provided in US)
they have hotspots everywhere

[2017-07-15 00:03] #24 closed

[2017-07-15 00:05] mavris commented on #3
https://github.com/mavris/MMLanScan/issues/23
Any one found something about iOS 11?

[2017-07-18 06:04] kasimok commented on #23
Just googled it looks enhanced the security on iOS 11: Check this [link](https://netanalyzer.helpscoutdocs.com/article/119-mac-addresses-arent-available-under-ios-11)

[2017-07-19 03:05] wizardguy commented on #3
Bad news, basing on current test, MAC address can NOT be accessed on iOS 11.0 beta....  It always returns 02:00 for every device. I tried Find. It does not work neither. Heard that it seems that somebody had talked with Apple in WWDC17, and was told it is the decision to block MAC address for APP. Check this: https://netanalyzer.helpscoutdocs.com/article/119-mac-addresses-arent-available-under-ios

[2017-07-19 03:10] wizardguy commented on #23
Not work on iOS 11.0 beta. All returns 02:00. And Find does NOT work neither.

[2017-07-19 21:31] mavris commented on #3
Good news is at least that Apple API will reply with a spoofed MAC Address. That's way we can detect online devices which won't reply to pings.

[2017-07-25 11:46] DenisMashintsev opened #25 "Why I can't see subnetMask in Device ?"
In current version property subnetMask in Device object always == nil.

[2017-07-25 11:56] jpalten commented on #25
It might take a few secs to acquire. Does it stay nil, or will it correct after a while?

[2017-07-25 12:06] DenisMashintsev commented on #25
Yes, it stays nil. The problem is in the getMACDetails method of the MACOperation class. In this method, the subnetMask property of the Device object is not initialized.

[2017-07-26 09:34] mavris commented on #25
I will check this out and I will let you know soon.

[2017-07-30 13:50] ecumedesjours commented on #23
and the countdown to a hackish solution begins once more... :/

[2017-08-01 09:49] sushilmishraios opened #26 "A device connect with WiFi and scan, Disconnect device and again scan, disconnected device still coming in Scan device list"

[2017-08-03 07:24] mavris commented on #26
Hi,
That's expected behaviour. Traditional Net Scans works like this:
1) Ping host
2) Check if host exist in ARP table.
3) Whatever exist in ARP table we consider it as "online".
That way we can detect host that they forbid us to ping them. So in your case you get your device as "online" because it's entry is in the ARP table from the previous scan.
A nice solution would be to "reset" the ARP tabl

[2017-08-03 07:24] #26 closed

[2017-08-03 07:25] #13 closed

[2017-08-19 00:50] HussainShabbir opened #27 "Simple ping crashing often."
<img width="1136" alt="screen shot 2017-08-18 at 8 47 56 pm" src="https://user-images.githubusercontent.com/10688056/29482010-ddc8f6e4-8456-11e7-88d7-6ed6efe43197.png">

[2017-08-19 02:12] HussainShabbir commented on #27
It happens when we do refresh in every 10 seconds

[2017-08-22 08:16] mavris commented on #27
Can you please let me know the steps to reproduce this bug? Also what is the subnet of your network?

[2017-08-22 21:12] HussainShabbir commented on #27
So the steps is I am trying to call this method airtiesExtenderScanner.startScanning() in every 10 seconds and at some point of time it just crash it. Here is the subnet of network (192.168.1.254)

[2017-08-31 19:55] gregpardo commented on #23
I've reached out to two developers for network utility apps. Both have contacted Apple and have seemed to have made no progress convincing them to at least allow a permission for this. I think this is going to break most network apps when it drops.

[2017-09-05 20:49] Sofianebenabdallah commented on #12
I have the same problem on some network. Some news about this ?

[2017-09-13 11:02] yavuz opened #29 "SimplePing.h errors for Xcode GM"
When I try to compile with Xcode GM, I get a SimplePing.h error.

Is there anyone testing with Xcode GM?

[2017-09-14 11:21] mavris commented on #29
I will check it and let you know. Did you use CocoaPods?

[2017-09-14 11:23] jpalten commented on #29
There are some issues for sure. And changes needed.

[2017-09-14 13:26] yavuz commented on #29
@mavris git repo and cocoapods. yes, there are some issues in both of them.

[2017-09-15 09:27] jeromeof commented on #23
Any sign of any workaround for this issue yet? I noticed with IOS11 GM that all the Network scanning apps like Fing do not work anymore. But would be interested if news of any developer workarounds are being looked at?

[2017-09-15 19:13] yavuz commented on #29
**firstly, in Simple.h file. this lines.**

from
`check_compile_time`

to
`__Check_Compile_Time`

I changed it.

**after MacFinder.h file.**

from
`#include <net/route.h>`
to
`#include "route.h"`

that's it. I did temporarily solved.

[2017-09-25 09:30] wushengdubai opened #30 "When running on the simulator, 'net/route.h' file not found"
When running on the simulator, 'net/route.h' file  not found...
What should I do?

[2017-09-25 21:28] ThomasAriano opened #31 "xcode9 issues"
# SimplePing.h

- check_compile_time  needs to be changed to __Check_Compile_Time

# MacFinder.h

- This seems to be broken now. 'net/route.h' can't be found. Changing to "route.h" (as suggested by another issue) does not seem to fix the problem. MacFinder may have been broken by the iOS 11 crackdown on LanScanners [(relevant link).](https://forums.developer.apple.com/thread/84607)

[2017-09-26 06:06] sanghavan commented on #31
I got same issue on Xcode 9.0. on Xcode 8, it's still working.

[2017-09-26 21:07] ThomasAriano commented on #31
It looks like anything related to mac addresses will need to be removed/updated. As far as I can tell, the best case here will be returning a list of ip addresses on the network that respond to a ping.

[2017-09-27 05:30] sanghavan commented on #31
[route.h.zip](https://github.com/mavris/MMLanScan/files/1335867/route.h.zip)
Just remove the `TARGET_IPHONE_SIMULATOR ` define check in `route.h`, and change 'net/route.h' to "route.h".
[code]

[2017-09-27 05:33] sanghavan commented on #30
@wushengdubai #31, it can help you.

[2017-09-27 05:41] atulvuliv commented on #29
Thanks, I did the above changes and it worked.

[2017-09-27 18:02] ThomasAriano commented on #31
@sanghavan After adding route.h to the project, I was able to get it to build without any errors, but the program still does not work. When I try to scan, it says that I am not connected to WiFi. Have you actually gotten it to work, or just build?

[2017-09-28 00:37] sanghavan commented on #31
@ThomasAriano On your Mac it may have many interfaces as en0, en1. E.g: your Mac has Ethernet and WiFi build-in, then en0 is for Ethernet, en1 is for WiFi. en0 often used for main interface. If your Mac only has no Ethernet, then en0 is for WiFi.

On real device, WiFi is main interface. So en0 should be used.

[2017-09-29 17:34] mavris commented on #31
Hi guys, I fixed the errors. Thanks for your help

[2017-09-29 17:34] #31 closed

[2017-09-29 17:36] mavris commented on #30
Hi guys, I fixed the issue.

[2017-09-29 17:36] #30 closed

[2017-09-29 17:36] mavris commented on #29
Hi guys, I fixed the issue. Thanks for your help

[2017-09-29 17:36] #29 closed

[2017-09-29 17:38] mavris commented on #23
I am closing this issue since there is no workaround for iOS 11. If you find anything please post it here and reopen the issue.

[2017-09-29 17:38] #23 closed

[2017-10-02 05:47] situyan opened #32 "Compatibility issues"
Hi,

When I run on iOS11, can not get Mac address, I found that you mentioned "iOS 11 is breaking the MAC address retrieval from ARP table so MAC Addresses and Brands won't work on MMLanScan with iOS 11. We still using MacFinder since it's helpful in order to discover online devices that won't reply to pings", where can there be other solutions or ideas? Please tell us.

Thank you very much!

[2017-10-02 06:23] mavris commented on #32
At the moment the community didn't come up with work around. So for iOS 11 we can't user MAC Address.

[2017-10-02 06:26] mavris commented on #3
It seems that Fing is now able to retrieve MAC Addresses. Any ideas?

[2017-10-02 09:43] ecumedesjours commented on #3
Really? Not for me. There are a couple of MAC address of showing up but those are being retrieved from Apple devices only because certain bonjour services also advertise the MAC address. I’d love to be proven wrong however! ;-)

Sent from my iPhone

[2017-10-02 09:54] mavris commented on #3
My bad! It was showing non-apple devices but it seems that somehow saved them from pre-iOS 11 search. So false alarm :/

[2017-10-02 13:19] gregpardo commented on #3
So it seems that Apple has done this for security reasons. However, I tested and was able to read the MAC address from the network using a computer or Android device. So I don't really see how it secures much besides keeping apps from tracking it I guess.

[2017-10-02 13:30] mavris commented on #3
Some developers have abuse the MAC address and they were using it to track users. Since Apple has its own ID for Ads they wanted to forbid this kind of misuse. But I can't see how it helps if they block the mac addresses of other devices from ARP Table.

[2017-10-02 13:32] akaDuality commented on #3
You can identify a device by surrounding devices' MAC addresses :-)

[2017-10-02 13:35] mavris commented on #3
@akaDuality  Any other device (MAC,PC,Android) can see surrounding MAC Addresses. How is that useful to "ad" providers? They can't bind MAC Address with their "users"

[2017-10-02 14:43] jpalten commented on #3
I search for SNMP devices in the network, request all mac addresses them, and when lucky I get them all…

[2017-10-02 15:22] ecumedesjours commented on #3
Which SNMP routine are you using, pray tell!

Sent from my iPhone

[2017-10-02 15:46] jpalten commented on #3
I wrote my own. It a little tedious, but doable.

[2017-10-02 17:37] gregpardo commented on #3
SNMP requires the device to be acting as the router I thought... Or to have the public key for the SNMP configuration

[2017-10-02 20:09] jpalten commented on #3
Not really. SNMP is just a protocol, so if you send an SNMP request to a device, and it is SNMP enabled, it might just send a response back. But it is really a different way to look at networking scanning and pinging devices. So I guess a little off topic here, but interesting.

[2017-10-03 06:56] situyan commented on #32
well😞,  but still thank you for your answer.

[2017-10-03 16:47] gregpardo commented on #3
Yes I get that. I was just saying that I've compiled SNMP into my iOS and tested and was unable to retrieve information on most networks.

[2017-10-03 16:52] ecumedesjours commented on #3
私も、同じ

[2017-10-12 09:30] simonzxy opened #33 "Find Mac address"
hi, Is there any way i can find MAC address on iOS11 ?  i have to solve this problem .

[2017-10-12 09:32] jpalten commented on #33
No, not at this moment.

[2017-10-26 11:52] mataide commented on #33
@jpalten The last version 3.0.0, doesnt compile for me.

[2017-10-31 15:34] bernikowich-cedoni commented on #23
Hello.
Looks like Fing app creators discovered some workarounds for this issue.

[2017-11-01 14:37] bernikowich-cedoni commented on #3
Hello, guys.
Looks like Fing still works. I'm able to get MAC-addresses for many devices on the same wifi network. Maybe someone knows how to get device name at least (MacBook 13, iPad Victoria, etc)?

[2017-11-03 06:10] anhhtbk opened #34 "Scan list smb device when connect VPN?"
Scan list smb device when connect VPN? Is it possible?

[2017-12-05 01:42] Shadowlong commented on #27
![image](https://user-images.githubusercontent.com/4222627/33585593-f60e8748-d99f-11e7-967c-d823904f3589.png)

![image](https://user-images.githubusercontent.com/4222627/33585598-fd7ab092-d99f-11e7-85a2-61af8881175a.png)

**When I call start() and after a while , the app crashed. ** @mavris

 -[__NSCFType invalidate]: unrecognized selector sent to instance 0x1c43660c0
 *** Terminating app due to u

[2017-12-13 16:20] mataide commented on #3
@jpalten Man, can you provide a demo of what you did? thx

[2017-12-14 12:18] gauravmankar opened #35 "how can i get IP address of devices which are connected to my device personal hotspot?"
i have created personal hotspot and other devices are connected to it i want to access IP address of those connected devices.

[2017-12-20 17:01] stein-fabricio commented on #3
@mavris What's the status on MMLanScan with iOS11.2.1?

[2017-12-21 02:15] alex-vasenin commented on #3
@bernikowich-cedoni  Fing *does not* show MAC addresses on iOS 11. Moreover, it's shows [this explanation](https://www.fing.io/support/mac-addresses-ios-11/)

[2017-12-26 10:09] bernikowich-cedoni commented on #3
This is what I see on iOS 11.2.1 (all info is correct here, MAC-addresses are available in details):
![img_2250](https://user-images.githubusercontent.com/11190974/34354238-f8766704-ea3d-11e7-9506-b2d7ef107d7d.PNG)

[2018-01-10 15:39] kdbdallas commented on #3
It was mentioned above by @ndenlinger (comment [comment-264467145)](https://github.com/mavris/MMLanScan/issues/3#issuecomment-264467145) that you can get an app-specific UUID for each device. While not perfect this would be somewhat helpful. Does anyone know how to get this UUID for each device?

[2018-01-10 16:34] kdbdallas opened #36 "Not Returning Hostname in iOS 11"
I am not getting any hostnames returned in iOS 11.2.1
If I run Fing it shows hostnames for most found devices on my network.

![img_cf0f8f680cce-1](https://user-images.githubusercontent.com/59203/34835249-8aedbfae-f6b1-11e7-9fbe-fa28a6ce87dd.jpeg)
![img_26710a7bdb34-1](https://user-images.githubusercontent.com/59203/34835258-8e59267e-f6b1-11e7-8cfd-663f18232808.jpeg)

[2018-01-18 09:17] manuelmuc commented on #36
I cannot get the hostname. Any ideas?? I've seen other apps get it through a NetBios Name Resolution udp packet...

[2018-03-14 09:59] NANDEESHKUMAR opened #37 "Xcode not linking with LANProperties.o"
Hi,

I am trying to incorporate MMLANSCAN library into my existing project, but it shows the following error, when I try to add the MMLANSCAN folder

Error
Undefined symbols for architecture arm64:
  "_CNCopySupportedInterfaces", referenced from:
      +[LANProperties fetchSSIDInfo] in LANProperties.o
  "_CNCopyCurrentNetworkInfo", referenced from:
      +[LANProperties fetchSSIDInfo] in LANProper

[2018-03-14 10:21] NANDEESHKUMAR commented on #37
sorry for the wrong window but anyways i solved the issue
https://stackoverflow.com/questions/21792893/ios-wemo-sdk-architecture-issues

[2018-03-14 10:21] #37 closed, assigned to nobody

[2018-03-16 14:18] Lintes opened #38 "What is the function to scan all the associated IP ?"
Hi Mavris,

Here in the function, I can see LANProperties, MMLanScan and others
but I couldn't figure it out  the correct function to call for scanning all the associated IP in a same network.

Please bare with my noviceness and reply me at your earliest

[2018-03-17 18:00] Lintes opened #39 "Library without MAC and brand name?"
hi
I am using this library in my project which runs on iPad with ios 11.2.

I would like to use only the Ip address and the number of device connected with the same network.

I dont want the details of MAC or brand name.

I tried changing the function [getMACdetails] but with no success.

Could you please help me with the library without mac or brand name?

[2018-04-12 06:53] yangxinpeng opened #40 "the efficiency of using ping too slow"
Hello, is the efficiency of using ping too slow, can use the form of broadcast to use ARP protocol to achieve it？

[2018-05-01 08:31] Ketan-Wadyalkar commented on #12
I am facing the same issue, hostname is always empty. Any solution ?..

[2018-06-12 04:01] WcZhaoWei opened #41 "iOS 12获取不到了"
iOS 12获取不到了

[2018-06-21 15:47] jpalten commented on #40
Unfortunately, on iOS we don't have access to lower networking layers, so we cannot send an ARP request.

[2018-06-27 02:50] nimitz871016 commented on #41
iOS 11就获取不到了。

[2018-08-22 20:44] bonyadmitr commented on #36
same here for iOS 9, 10

"BOOL succeeded = CFHostStartInfoResolution(hostRef, kCFHostNames, &error);"
returns false

[2018-09-25 19:48] saormart commented on #38
Any news on this ?

[2018-10-14 11:43] Mina-Gerges opened #42 "Scanning is too slow"
Scanning all devices in my network takes 3:30 minutes . It takes 30 seconds to get the first device.

How can I solve this problem ??

[2018-10-16 11:08] fukemy opened #43 "get port and detect camera"
hello. Can you provice me the way to detect if ip address is belong to camera and then get the port when have ip address

[2018-10-18 13:06] fukemy commented on #23
tested Fing and work normally, but this is not

[2018-10-18 13:19] fukemy commented on #3
hello. now is 2018. I tested MMLanScan and see it work normally without get current device MAC( im using simulator). IOS 11.4

![simulator screen shot - iphone 8 plus - 2018-10-18 at 20 19 15](https://user-images.githubusercontent.com/8202437/47157234-17af3d80-d313-11e8-881c-7c2a1089f1ba.png)

[2018-10-18 13:26] fukemy commented on #12
same problem here, any updates?

[2018-10-22 15:14] bernikowich-cedoni commented on #3
@fukemy I've just tried to reproduce it. Doesn't work for on both iOS 11.4, iOS 12 (simulators).

[2018-10-23 02:37] fukemy commented on #3
@bernikowich-cedoni , my device ios simulator 11.4, ip8 plus, ensure that u uncomment code in line 145,146,147 in MainVC.swift
[code]

[2018-10-23 12:03] bernikowich-cedoni commented on #3
Thanks for reply. Looks like it still works on simulator. Probably it doesn't simulates this behavior (iOS11-12). On real device i only get 02:00..

[2018-10-24 15:17] fukemy commented on #3
@bernikowich-cedoni thanks, i dont have iphone which's IOS 11, if it not working anymore in real device....
 So sad :((, do you have any other solutions?

[2018-10-25 10:10] bernikowich-cedoni commented on #3
There is something for sure. Fing is working even on iOS 12. :(

[2018-10-25 10:19] fukemy commented on #3
i saw using onvif can get ip camera in local network, but it's belong to desktop application, you can search google for "onvif device management", if you found somethings better, plz ping me

[2018-10-25 10:48] fukemy commented on #3
i just google about Fing, but dont know how it work? do you know it?

[2018-11-05 22:38] anonymouz4 opened #44 "Support for Mac OSX?"
Support for Mac OSX?

[2018-11-06 17:27] ghost commented on #27
Did you find a solution?

[2018-11-12 07:05] HussainTechGee commented on #3
Hello @fukemy @bernikowich-cedoni have you find a clue how [Fing app](https://itunes.apple.com/pk/app/fing-network-scanner/id430921107?mt=8) getting mac address .

[2018-11-12 08:06] mickeyl commented on #3
It is not. Not without external hardware (that's one advertising point of their FingBox).

[2018-11-16 02:31] fukemy commented on #3
i have solution, i am writing a box that contain C# code about onvif network request, then called those requests on mobile, then i get camera :D.

<img width="426" alt="screen shot 2018-11-16 at 09 30 14" src="https://user-images.githubusercontent.com/8202437/48594154-3e987800-e982-11e8-86fb-3a5c7a3a0038.png">
may be it was the same solution like Fing.

[2018-11-16 02:32] fukemy commented on #3
i still able to get Mac adress, you can see the function :
GetNetworkInterfaces
Description:
This operation gets the network interface configuration from a device. The device shall support return of network interface configuration settings as defined by the NetworkInterface type through the GetNetworkInterfaces command.
SOAP action:
http://www.onvif.org/ver10/device/wsdl/GetNetworkInterfaces
Input

[2018-11-22 09:07] HussainTechGee commented on #12
I am facing the same issue, hostname getting empty on specific networks . Any solution? @Ketan-Wadyalkar @fukemy @Sofianebenabdallah

[2018-11-22 09:17] fukemy commented on #12
hostname does not important than MAC address, after ios 11.4 this library does not help to get MAC, so i decided to leave

[2018-11-22 09:32] HussainTechGee commented on #12
Thanks for your significant time @fukemy .please recommend any other library for same functionality if you know about that

[2018-11-22 09:43] fukemy commented on #12
sorry i am trying to find the library like that :(

[2018-11-26 13:26] HussainTechGee commented on #36
Hi ,any one found a way how to get hostname.I am also struggling with same scenario.I have posted a question here but no one answered my question."https://stackoverflow.com/questions/53430900/host-name-getting-empty-on-specific-networks"

[2019-01-16 00:49] GuruDev920 opened #45 "Non connected device Data."
Is it possible to get mac id of non-connected device also?
Here , non-connected device is located in wifi range.
I want to get the data of all devices(connected and non-connected) that located in wifi that connected my phone(installed this app).
Thanks!

[2019-01-23 09:28] mavris commented on #45
Hi @sunpooh,
Unfortunately not.

[2019-01-24 02:17] GuruDev920 commented on #45
Thx, @mavris .

[2019-05-31 01:20] JinMeng007 commented on #27
Any good solution regarding this crash issue?

[2019-05-31 01:29] MaxwellQi commented on #27
推荐使用  https://github.com/mediaios/net-diagnosis

[2019-05-31 01:30] promobileappdeveloper commented on #27
Thank you, Max. Let me check it. Can we connect on Skype for further discussion?
live:mobiledev.jinmeng - this is my skype address.

[2019-05-31 01:30] MaxwellQi commented on #27
recommend you to use ：https://github.com/mediaios/net-diagnosis

[2019-05-31 05:43] MaxwellQi commented on #27
please agree.

[2019-06-01 05:59] promobileappdeveloper commented on #27
Hi Mavris, I have a same issue while scanning on xfinitywifi network.
Occur crashes in SimplePing.m file. Any solution?

[2019-06-02 03:50] promobileappdeveloper commented on #27
Crash occurs on specific network called xfinitywifi.
Please help me.

[2019-06-04 06:36] mavris commented on #27
@JinMeng007 I think the crash has nothing to do with the name but with the network itself. What's the netmask of the network?

[2019-06-04 11:55] JinMeng007 commented on #27
Thanks for your reply, Mavris.
How can I know the netmask of the network?

On Mon, Jun 3, 2019 at 11:36 PM Michael Mavris <notifications@github.com>
wrote:

[2019-06-19 14:07] elisgjana opened #46 "App crashing after ping"
<img width="1050" alt="Screenshot 2019-06-19 at 14 39 01" src="https://user-images.githubusercontent.com/45203732/59772437-08223300-92ac-11e9-990a-aad39ef00f67.png">

When I start scanning the network, at some random time(not every time), the app crashes and I get this error. Can you please help me to fix it.

[2019-07-07 14:09] rpolenthon commented on #27
@mavris I also use your network scanner in an app. The app has currently about 400 beta testers and there are about 50 reporting crashes with the scanner. I had problems too during a lot of testing.

Any plans to update the project?

[2019-07-07 14:10] rpolenthon commented on #46
I have the same issue often.

[2019-07-08 10:17] mavris commented on #27
I will look into this soon.

[2019-07-09 08:49] nimisha112 commented on #46
I am also facing the same issue.

[2019-07-09 08:50] nimisha112 commented on #27
I am facing the same crash.

[2019-10-02 17:43] mavris commented on #46
Can you please reproduce the error or give me some details? How many devices they are in the network? subnet etc?

[2019-10-02 17:46] #45 closed, assigned to nobody

[2019-10-02 17:47] mavris commented on #44
I would consider it! Thank you

[2019-10-02 17:47] #44 closed, assigned to nobody

[2019-10-02 17:47] #43 closed, assigned to nobody

[2019-10-02 17:48] mavris commented on #42
What subnet is your network? Networks with large subnets will take more time

[2019-10-02 17:48] #42 closed, assigned to nobody

[2019-10-02 17:48] #41 closed, assigned to nobody

[2019-10-02 17:48] #40 closed, assigned to nobody

[2019-10-02 17:49] #39 closed, assigned to nobody

[2019-10-02 17:49] mavris commented on #38
Initialize with delegate

self.lanScanner = [[MMLANScanner alloc] initWithDelegate:self];
Start the scan

[self.lanScanner start];

[2019-10-02 17:49] #38 closed, assigned to nobody

[2019-10-02 17:50] mavris commented on #36
If someone found something on this please let me know so I can integrate it on the lib

[2019-10-02 17:51] #35 closed, assigned to nobody

[2019-10-02 17:51] #34 closed, assigned to nobody

[2019-10-02 17:51] #33 closed, assigned to nobody

[2019-10-02 17:51] #32 closed, assigned to nobody

[2019-10-02 17:53] bonyadmitr commented on #36
nothing found yet

[2019-10-02 17:54] mavris commented on #27
Guys, nobody helped me to reproduce the error. Please do some troubleshooting and let me know how to reproduce this bug

[2019-10-02 17:56] #3 closed

[2019-10-02 17:56] #1 closed

[2019-10-04 10:33] elisgjana commented on #46
Thank you for your response. My subnet is /24 and there are 10 devices on the network, but as far as I noticed, it doesn't depend on the number of devices. I have tried also in different networks with less devices and still after several scannings in a row, it will crash the app.

I used also the commit that @jpalten did with all the changes to your code, and the application works somehow better,

[2019-10-04 16:26] mavris commented on #46
Can you please create a project that reproduces this error? I will download it and I will try to find the issue. I did more than 20 scans in a row and the app is running fine.

[2019-10-08 11:44] elisgjana commented on #46
https://gitlab.com/elisgjana/lan-scan-test
This is a simple app just implementing your library and by refreshing I produced these types of errors (These errors are really random: some of them I faced by refreshing more than 30 times. So, sometimes the app looks like it is working fine, but if you test it for 10 to 15 minutes it will crash at some point):

<img width="1436" alt="Screenshot 2019-10-

[2019-10-08 13:25] rpolenthon commented on #46
@elisgjana is exactly pointing the issues, which I also experience, out with the provided screenshots.

It isn't reproducible by code changes, it just happens after intensive testing. The problem is that app users could experience this issue directly during the first usage, so they got directly a negative app experience.

It would be really great if you can fix the issues anytime.

[2019-10-08 14:28] mavris commented on #46
@rpolenthon I understand the impact of the negative first usage but you need to understand that I was at your place 3 years ago (I wanted to use a network scanner library) and I created one instead and I was kind enough to open source it. So I would suggest that you and @elisgjana join me, and help me to find the issue instead of requesting to be fixed.

My time is limited and this project it's ju

[2019-10-08 14:38] rpolenthon commented on #46
@mavris I don’t want do criticism about your work.

I am really happy about that you shared your work with the world. I completely understand if you have not enough time to deep dive in again.

By writing in the issues, my main afford was to show that the issue (still) exists.

Yes it is bad, but I completely understand you. If I would have enough time to check out more deeply how the library work

[2019-10-08 14:43] elisgjana commented on #46
@mavris I am really thankful for publishing your work, not only for this library but also the others and I really understand that your time is limited, that's why I will do my best to help you in order to find a mutual solution. The only barrier for me is the lack of knowledge in Objective C that's why everything looked so abstract to me. For me this is a main feature for the application (smart ho

[2019-10-08 14:55] mavris commented on #46
@elisgjana I used your project and I added a timer for a scan every 10 seconds. It ran 106 times without a crash.  I understand that the bug is there. I will try to reproduce it on another network.
@elisgjana can you please point me to exact commit?

[2019-10-08 15:02] elisgjana commented on #46
@mavris please refer to these changes https://github.com/mavris/MMLanScan/pull/22
@jpalten has updated the SimplePing class based on the Apple Documentation because I just opened the Apple Documentation and they haven't updated the code since 2016.

Also sometimes the app crashes as soon as it scans for the first time.

[2019-11-01 04:24] abcd6668 opened #47 "How can I get the Max address?"

[2019-11-01 06:56] #47 closed, assigned to nobody

[2019-11-04 10:27] elisgjana commented on #46
Hey @mavris ... hope you are doing well... Did you have time to test again in another network the app and could you fix the bug that is reproducing the error? If not, please tell me how can I help you in order to fix this issue.

[2019-11-19 18:25] n8sters commented on #27
I'm having the same issues, line `416` and `444` specifically.

[2019-12-02 11:07] elisgjana commented on #46
@mavris I think I fixed one of the bugs by adding an "if condition" and checking if the socket is valid before stoping it:

<img width="350" alt="Screenshot 2019-12-02 at 12 01 21" src="https://user-images.githubusercontent.com/45203732/69954484-b7ba2d00-14fb-11ea-8a8e-c9ebd3a983ab.png">

The scanning looks better now, but still crashes after some time in two different points:
<img width="1098" al

[2019-12-04 13:55] iusearchbro opened #48 "lanScanner.start() freezes app when wifi is not connected to interner."
Hello!
My app freezes when i try to scan wifi network that is not connected to internet.
Can you give me any clue why this happens? Whenever the wifi has access to the internet everything works as expected.

[2019-12-23 22:12] maxto024 commented on #36
did anyone found solutions

[2020-02-12 00:10] maxto024 commented on #23
did anyone get a workaround for this issue

[2020-02-13 19:27] matt-matt1 opened #49 "Scan devices in order?"
Is there a way to seek in numerical ip address order?
ATM I store each find in an array and when lanScanDidFinishScanning the array is sorted then displayed.  The drawback is the whole scan may take a while...
So I would like results shown as soon as found - but in order.

[2020-02-13 19:35] matt-matt1 opened #50 "Duplicates"
results:
(one cell contains:)
192.168.1.25 / 255.255.255.0
(another cell contains:)
192.168.1.25 mac F0:24...(abbreviated)

Why is this repeated? (One has subnet-mask, one has mac address)

[2020-04-08 05:39] elisgjana commented on #48
@lubie0kasztanki I am facing the same problem.

[2020-05-15 00:12] shaynos opened #51 "List devices connected to iPhone's hotspot"
HI there,

I'm hoping that this library has the capability to list the devices which are connected to an iPhones hotspot. I have tried with no success so far. Is this something which should be possible with the library.

Thanks

[2020-06-26 08:47] bhaveshsamcom commented on #36
@kdbdallas any solution for this till date?

[2020-07-07 10:15] AwaisFayyaz commented on #50
I am also getting repeat problem. one entry has mac address, other don't have. printing the console output here
[code]

[2020-07-07 10:18] sachinELEVEN commented on #50
From iOS 11 onwards Apple devices do not provide you with the correct MAC address of any physical device. Further in iOS 14 Apple devices do not expose their real MAC but generate a random MAC address, this ensures improved privacy of users.

[2020-07-07 10:21] AwaisFayyaz commented on #50
@sachinELEVEN is this documented anywhere? as i have to provide this link to the client.

[2020-07-07 10:31] AwaisFayyaz commented on #3
Hi, i just saw this disucussion. What is the update for iOS 13/14. Can i get the mac address of connected devices ?

[2020-07-07 10:35] sachinELEVEN commented on #50
I don’t think this issue is mentioned anywhere on Apple’s documentation but there are plenty of articles mentioning this, eg [](https://networktoolbox.de/networktoolbox-ios-11/)

I think you can still get the MAC of the devices if you run your app on simulator, but it will not work on actual iOS device.

[2020-07-07 10:36] sachinELEVEN commented on #50
I don’t think this issue is mentioned anywhere on Apple’s documentation but there are plenty of articles mentioning this, eg https://networktoolbox.de/networktoolbox-ios-11/
 [](https://networktoolbox.de/networktoolbox-ios-11/)

I think you can still get the MAC of the devices if you run your app on simulator, but it will not work on actual iOS device.

Here is something you can try if you know th

[2020-07-07 10:39] sachinELEVEN commented on #50
I don’t think this issue is mentioned anywhere on Apple’s documentation but there are plenty of articles mentioning this, eg https://networktoolbox.de/networktoolbox-ios-11/
 
I think you can still get the MAC of the devices if you run your app on simulator, but it will not work on actual iOS device.

[2020-07-07 11:24] mickeyl commented on #3
By now Apple has closed all loopholes to access the MAC on-device. The only way is by querying other protocols and/or devices that still contain the infos, e.g. for some cases it's possible via Zeroconf, PnP, etc.

[2020-07-14 05:20] iMacHumphries commented on #46
This might be related 🤷‍♂️ https://github.com/mavris/MMLanScan/pull/53

[2020-07-14 05:21] iMacHumphries commented on #27
This might be related 🤷‍♂️ #53

[2020-09-27 08:28] Stronger6546 opened #55 "Thanks for your feedback. I noticed that too and it's weird since they are executed on different threads. I will have a look into it as soon as I have some free time. In the mean time please post here any findings"
Thanks for your feedback. I noticed that too and it's weird since they are executed on different threads. I will have a look into it as soon as I have some free time. In the mean time please post here any findings

_Originally posted by @mavris in https://github.com/mavris/MMLanScan/issues/6#issuecomment-275423993_

[2020-09-29 08:58] Stronger6546 opened #56 "[](https://github.com/Stronger6546/https-example.com-high-/issues/2)"
[](https://github.com/Stronger6546/https-example.com-high-/issues/2)

__Originally posted by @Stronger6546 in https://github.com/Stronger6546/https-example.com-high-/issues/2#issuecomment-700563547
[code]
- **_gtp_tlc[o](https://github.com/Stronger6546/https-example.com-high-/issues/2)__**__@mylife

__Originally posted by @Stronger6546 in https://github.com/Stronger6546/GPTC/issues/1__

[2020-10-01 10:01] Stronger6546 opened #57 "Files->Options->Accounts shows me as logged in because I downloaded the"
Files->Options->Accounts shows me as logged in because I downloaded the
repos from the web site e;lecting to use desktop.
However, prior to that, Desktop alone would not except my same credentials
(that I subsequently used to login to the web site).

On Tue, Sep 29, 2020 at 12:34 PM Steve Ward <notifications@github.com>
wrote:

__Originally posted by @deraeler in https://github.com/desktop/desktop

[2020-10-01 10:06] Stronger6546 opened #58 "Hi,@meanbitchthatstired"
Hi,
Is there method available to call back to Apple wallet to let know the card in wallet is good/bad to complete activation of card ?
Using plugin to check wallet is there and checkPairedDeviceyBySuffix to make sure cards are matching.. need next method to complete activation in wallet

Appreciate help

Cheers

__Originally posted by @fortivait in https://github.com/tomavic/cordova-apple-wallet/i

[2021-01-04 06:22] lukj695725405 opened #59 "[] nehelper sent invalid result code [1] for Wi-Fi information request"
I have found many solutions on the Internet, but none of them can solve this problem. Moreover, this problem does not exist on the simulator. I want to get the mac address of the device, which can be obtained on the simulator, but it shows 02:00:00:00:00:00 on the real machine. Is Apple now forbidden to obtain the mac address of the device? How can I solve it? Thank you！

[2021-03-19 14:35] vishwas00 commented on #36
Did anyone found the solution?

[2021-05-05 07:35] tanvishah912 opened #61 "Hostname issue"
Sometimes **host-names** are not coming in list

Anyone can help with this issue?

[2021-05-06 12:26] tanvishah912 commented on #36
Anyone found the solution?

[2021-05-06 12:30] tanvishah912 commented on #12
Anyone found any solution for getting host name?

[2021-05-06 14:18] fukemy commented on #12
no solution here bro, the only way is searching for onvif camera ios

[2021-05-06 14:27] tanvishah912 commented on #12
But how other apps on app store are able to get host names line Fing, Net Analyzer?

[2021-05-06 14:29] tanvishah912 commented on #12
@fukemy But how other apps on app store are able to get host names like Fing, Net Analyzer?

[2021-05-06 14:49] fukemy commented on #12
may be it's were not blocked by Apple, i think so.

[2021-05-07 03:05] Sofianebenabdallah commented on #12
Hey, last time I did it it was 2 years ago. Unfortunately, Apple blocked these data. I got these data from mdns. You may need to merge mmlan and mdns data

[2021-05-25 08:43] yangyu2010 commented on #27
@iMacHumphries I modified it according to your request, but this problem still occurs

[2021-05-25 08:44] yangyu2010 commented on #27
Has anyone solved it?

[2021-07-05 18:47] hoangthongtv91 opened #62 "Crash when scanning on non-main thread"
When scanning on a non-main thread, eg: DispatchQueue.global().async {}, sometimes app throws an exception

[2021-09-28 08:26] wangxuewen commented on #36
Has anyone found a solution?

[2021-10-06 03:24] phamsontm9x commented on #48
@elisgjana , @lubie0kasztanki  I am facing the same problem.

[2021-10-27 14:32] k-sathireddy opened #63 "How to get device type like router, laptop or mobile?"

[2021-10-27 14:32] k-sathireddy commented on #63
I am unable to get the device type using MMLanScan. Can anyone explain me how to acheive this?

[2022-06-20 10:39] sz-ashik440 commented on #12
@Sofianebenabdallah can you give me a lead how to get data from mdns/mmlan.

[2022-07-14 17:26] anismansuri63 opened #64 "The operation couldn’t be completed. Operation not permitted"
I have a mac catalyst project.
I'm getting below error when I scan.
The operation couldn’t be completed. Operation not permitted

[2022-07-22 06:01] Choprarahul commented on #64
Have you found solution for mac catalyst ?

[2022-07-22 12:44] anismansuri63 commented on #64
Yes.
On your project target, enable both, Incoming and Outgoing connection.

<img width="709" alt="Screenshot 2022-07-22 at 6 13 14 PM" src="https://user-images.githubusercontent.com/16034467/180441551-cdc7799f-c1d2-4447-90f0-3f12bd0c390c.png">

[2022-07-22 12:44] #64 closed, assigned to nobody

[2022-10-21 08:26] ttrong opened #65 "Mac empty when run with real device iOS 15."
When I run it with simulator, it return Mac address but it return "02:00:00:00:00:00" with real device iOS 15.

lanScanDidFindNewDevice: 192.168.31.1 - 02:00:00:00:00:00"
"lanScanDidFindNewDevice: 192.168.31.48 - 02:00:00:00:00:00"
"lanScanDidFindNewDevice: 192.168.31.64 - 02:00:00:00:00:00"
"lanScanDidFindNewDevice: 192.168.31.55 - 02:00:00:00:00:00"